


audio {
    width: 50%; 
    border-radius: 10px; /*player rounded corners*/
    align-self: center;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000000; 
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#volumeMeterContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: aqua;
}

#player-container {
    padding: 10px;
    background-color: #000000; 
    border-radius: 0 0 15px 15px;
}

canvas {
    background-color: #333;
    border: 2px solid rgb(164, 0, 170);
}

