body {
    margin: 0;
    background-color: black;
    text-align: center;
}
footer {
    background-color: #000000;
    color: rgb(204, 204, 204);
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
